<script lang="ts">
    export let onfocusout: (event: Event) => void = () => {
    };
    export let id: string;
    export let value: string;
    export let name: string = '';
    export let placeholder = '';
    export let label: string | undefined = undefined;

</script>

{#if label !== undefined}
    <label for={id} class="text-sm font-medium text-primary-light-text dark:text-primary-dark-text block mb-2">
        {label}
    </label>
{/if}

<input
        on:focusout={onfocusout}
        type="text"
        {name}
        {id}
        bind:value
        class="shadow-sm border border-gray-300 sm:text-sm rounded-lg block w-full p-2.5 disabled:dark:bg-gray-700
                focus:ring-cyan-600 focus:border-cyan-600 read-only:cursor-default disabled:bg-gray-200 disabled:cursor-not-allowed"
        {placeholder}
/>
