<script lang="ts">
    import CustomTextInput from "./CustomTextInput.svelte";
    import OnClickButton from "./OnClickButton.svelte";
    import { DNS } from "./DNS";
    import { onMount } from "svelte";
    import ImageViewer from "./ImageViewer.svelte";

    let queryName = '';
    let loadingButtonEnabled = false;
    let isLoading = false;
    let imageSrc = '';
    const fqdnRegex = new RegExp('(?=^.{4,253}$)(^((?!-)[a-zA-Z0-9-]{0,62}[a-zA-Z0-9]\\.)+[a-zA-Z]{2,63}$)');
    const loadTXTImage = async () => {
        isLoading = true;
        imageSrc = await DNS.fetchTXTContent(queryName);
        isLoading = false;

        window.location.hash = '#share=' + queryName;
    }

    const loadHash = async () => {
        const parsedHash = new URLSearchParams(
            window.location.hash.substring(1) // any_hash_key=any_value
        );

        let share = parsedHash.get("share");
        if (share && share != queryName && fqdnRegex.test(share)) {
            queryName = share;
            await loadTXTImage();
        }
    }

    $: loadingButtonEnabled = fqdnRegex.test(queryName);

    onMount(() => {
        window.addEventListener("hashchange", loadHash, false);
        loadHash();
    });
</script>

<div class="flex space-x-2">
    <div class="flex-grow text-left">
        <CustomTextInput id="queryName" bind:value={queryName} label="Insert image share record name here:"/>
    </div>
    <OnClickButton disabled={!loadingButtonEnabled || isLoading} callback={loadTXTImage}
                   additionalClasses="svelte-hover">
        Load Image
    </OnClickButton>
</div>

<ImageViewer bind:imageSrc/>
