<script lang="ts">
    export let imageSrc: string | undefined = '';
</script>

<div class="card flex justify-center">
    {#if (imageSrc && imageSrc !== '')}
        <img src={imageSrc} class="logo svelte-hover" alt=""/>
    {/if}
</div>
