<script lang="ts">
    import type { Options } from "browser-image-compression";
    import imageCompression from "browser-image-compression";
    import ImageViewer from "./ImageViewer.svelte";
    import { onMount } from "svelte";
    import OnClickButton from "./OnClickButton.svelte";
    import { copyToClipboard } from "./utils";

    let imageSrc = '';
    let progressBarPercent = 0;
    let progressBar: HTMLElement | null;
    const maxContentSizeByte = 64771;

    const onProgress = (percent: number) => {
        console.log("onProgress", percent);
        progressBarPercent = percent;
    }
    const resetMaxFileSize = () => {
        options.maxSizeMB = 0.049;
    }

    const options: Options = {
        maxSizeMB: 0.049,              // (default: Number.POSITIVE_INFINITY)
        useWebWorker: false,           // optional, use multi-thread web worker, fallback to run in main-thread (default: true)
        preserveExif: false,          // optional, use preserve Exif metadata for JPEG image e.g., Camera model, Focal length, etc (default: false)
        onProgress: onProgress,

        // following options are for advanced users
        maxIteration: 50,             // optional, max number of iteration to compress the image (default: 10)
        fileType: 'image/webp',       // optional, fileType override e.g., 'image/jpeg', 'image/png' (default: file.type)
        initialQuality: 1,            // optional, initial quality value between 0 and 1 (default: 1)
        alwaysKeepResolution: false   // optional, only reduce quality, always keep width and height (default: false)
    }

    const compressUntilSizeMatches = (imageFile: File, options: Options) => {
        imageCompression(imageFile, options)
            .then(async function (compressedFile) {
                //console.log('compressedFile instanceof Blob', compressedFile instanceof Blob); // true
                //console.log(`compressedFile size ${compressedFile.size} Byte`); // smaller than maxSizeMB

                let reader = new FileReader();
                reader.onload = (e) => {
                    if (e.target && e.target.result) {
                        const result = (e.target.result as string).trim();
                        if (result.length <= maxContentSizeByte) {
                            console.log(result);
                            imageSrc = result;
                            console.log("Done with options.maxSizeMB: " + options.maxSizeMB);
                        } else {
                            if (options.maxSizeMB && options.maxSizeMB > 0.003) {
                                console.log(`Mäh, image with ${result.length} byte still too huge. We'll try it again.`);
                                options.maxSizeMB -= 0.003;
                                compressUntilSizeMatches(imageFile, options);
                            } else {
                                console.error("Abort compression, required file size not reachable!");
                            }
                        }
                    }
                };
                reader.readAsDataURL(compressedFile);
            })
            .catch(function (error) {
                console.error(error.message);
            });
    }

    const handleImageUpload = (event: Event) => {
        if (event.target) {
            let imageFile = event.target.files[0];
            console.log('originalFile instanceof Blob', imageFile instanceof Blob); // true
            console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`);

            progressBarPercent = 0;
            resetMaxFileSize();
            compressUntilSizeMatches(imageFile, options);
        }
    }

    $: progressBar && (progressBar.style.width = progressBarPercent + '%')

    onMount(() => {
        progressBar = document.getElementById('progressBar');
    });
</script>

<div class="mt-1">
    <input type="file" accept="image/*" on:change={handleImageUpload}>
    <div class="flex-start flex mt-8 h-3.5 w-full overflow-hidden rounded-full bg-blue-gray-50 font-sans text-xs font-medium
                {progressBarPercent === 0 || progressBarPercent === 100 ? '!hidden' : ''}">
        <div class="flex h-full items-center justify-center overflow-hidden break-all rounded-full bg-green-700 text-white"
             id="progressBar">{progressBarPercent}%
        </div>
    </div>
</div>

{#if imageSrc && imageSrc !== ''}
    <div class="my-8">
        <p>
            Image has been compressed into webp format with a size of {imageSrc.length} byte.
        </p>

        <OnClickButton callback={() => {copyToClipboard(imageSrc, 'TXT record content')}}
                       additionalClasses="svelte-hover mt-2">
            Copy TXT dns record content to clipboard
        </OnClickButton>
    </div>
{/if}

<ImageViewer bind:imageSrc/>
