<script lang="ts">
    export let callback = () => {
        undefined;
    };
    export let additionalClasses = '';
    export let title = '';
    export let disabled = false;
    export let small = false;
</script>

<button
        {title}
        on:click={callback}
        {disabled}
        type="button"
        class="self-end w-1/2 text-primary-light-button-text bg-primary-light border-gray-300 font-medium rounded-lg
	dark:text-primary-dark-button-text dark:bg-primary-dark-button dark:border-gray-500
    text-sm {small
			? 'px-2 pb-1'
			: 'px-3 py-2.5'} text-center sm:w-auto disabled:opacity-70 disabled:pointer-events-none {additionalClasses}"
>
    <slot/>
</button>
