<script lang="ts">
    import ImageLoader from "./lib/ImageLoader.svelte";
    import ImagePrepare from "./lib/ImagePrepare.svelte";
    import OnClickButton from "./lib/OnClickButton.svelte";

    let showImageLoader = true;
    const toggleShowImageLoader = () => {
        showImageLoader = !showImageLoader;
    }
</script>

<main>
    <h1 class="mb-8">TXT Record Image Loader</h1>

    <OnClickButton callback={toggleShowImageLoader} additionalClasses="svelte-hover mb-8">
        {#if (showImageLoader)}
            Prepare own image
        {:else}
            Show image loader
        {/if}
    </OnClickButton>

    {#if (showImageLoader)}
        <ImageLoader/>
    {:else}
        <ImagePrepare/>
    {/if}
</main>
